body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section {
  font-family: "Sawarabi Mincho";
  width: 800px;
  margin: 0 auto;
}
p {
  line-height: 1.42857;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Sawarabi Gothic";
}
code {
  font-size: 0.85rem;
  font-family: monospace;
  background-color: #2b303b;
  color: #c0c5ce;
  padding: 2px;
  border-radius: 6px;
}
.katex-block {
  text-align: center;
}

header {
  background-color: #2b303b;
  color: #c0c5ce;
  font-family: "Sawarabi Gothic";
}

header div {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 0 auto;
}

header div * {
  margin: 0;
}

header div span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

header div span * {
  color: white;
  margin: .5rem .5rem 5px;
}

a.page-link {
  display: block;
  text-decoration: none;
  color: black;
}

a.page-link:hover {
  text-decoration: underline;
}

a.page-link:after {
  content: attr(data-ts);
  margin-left: 1rem;
  font-size: 0.5rem;
  background-color: #e0e0e0;
  color: #333;
}

