<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} | iris::code</title>
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">
  <link rel="stylesheet" href="../../../../static/highlight/styles/ocean.css">
  <link rel="stylesheet" href="../../../../static/style.css">
  <script src="../../../../static/highlight/highlight.pack.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js" integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.12/marked.min.js"></script>
  <script src="../../../../static/render.js"></script>
  <script src="../../../../static/startup.js"></script>
</head>
<body>
  <header>
    <div>
      <h1>iris::code</h1>
      <span>
        <a href="../../../../index.html">全ての記事</a>
      </span>
    </div>
  </header>
  <section>
    <div id="main-content">{{ content }}</div>
    <p>{{ ts }}</p>
  </section>
</body>
</html>
